
@{
    ViewData["Title"] = "Index";
}
@model List<ShopItems>


<!-- START PORTOLIO SECTION -->
<div class="portfolio-section">
    <div class="container">
        <div class="row">

           

                <!-- START PORTFOLIO IMAGES -->
            <div class="col-12">
                <div id="js-grid-blog-posts" class="cbp">
                    @foreach (var item in Model)
                    {
                        <div class="cbp-item CausalShirts others wow slideInUp">
                         <a class="portfolio-circle-cart" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="@item.Url" class="cbp-caption" data-fancybox="gallery1" data-title="Shirt Name"><img src="@item.Url" alt=""></a></div>
                            <div class="item"> <a href="shop/img/product-listing/p25.jpg" class="cbp-caption" data-fancybox="gallery1" data-title="Shirt Name"><img src="shop/img/product-listing/p25.jpg" alt=""></a></div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">@item.Name </a>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$@item.Price</div>
                            </div>
                        </div>
                    </div> 
                    }
                   

                    

                </div>
            </div>
                <!-- END PORTFOLIO IMAGES -->

        </div>
    </div>
</div>
<!-- END PORTOLIO SECTION -->

<!--START LATEST ARRIVALS-->
<div class="lastest_arrivals">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h1>Latest Arrivals</h1>
            </div>

            <div class="col-12">
                <div class="lastest_featured_products owl-carousel owl-theme">

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                            <a href="shop/img/l1.jpg"  data-fancybox="lastest_product"  data-title="Shirt Name">
                                <img src="shop/img/l1.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Casual Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">  <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l7.jpg"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                            <img src="shop/img/l7.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Light Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                            <a href="shop/img/l8.jpg"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                            <img src="shop/img/l8.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Long Frock</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                            <a href="shop/img/l9.jpg"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                            <img src="shop/img/l9.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Casual Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                            <a href="shop/img/l10.jpg"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                            <img src="shop/img/l10.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Casual Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                            <a href="shop/img/l11.jpg"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                            <img src="shop/img/l11.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Light Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                            <a href="shop/img/l12.jpg"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                            <img src="shop/img/l12.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Light Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l7.jpg"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                                <img src="shop/img/l13.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Casual Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--END LATEST ARRIVALS-->

