@using WebApplication5.Models.Entities
@{
    List<Product> products = Model;
}

@foreach (var product in products)
{
    <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
        <div class="product-item text-center" data-id="@product.Category.Name.ToLower()">
            
            <div class="img">
                <a asp-controller="Product" asp-action="details" asp-route-id="@product.Id">
                    <img src="~/img/shop-@product.ImageUrl" class="img-fluid" alt="">
                </a>
            </div>
            <div class="title mt-3">
                <h6>Category Name: @product.Category.Name</h6>
                <h7>Product Name: @product.Name</h7>

            </div>
            <div class="price">
                <span class="text-black-70">Add to cart</span>
                <span class="text-black-70"><del>$@product.Price</del><span class="text-black-50 ml-1"></span> - @(product.Price - (product.Price * (product.DiscountPercent / 100)))$</span>

            </div>
        </div>
    </div>

}